<h1 class="contact-header">There are X Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <a href="/contacts/<%=contact.id%>"><li class="contact"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)<br>
  <a href="/contacts/<%=contact.id%>/edit" class="contact-links">Edit</a> | <a href="/delete" class="contact-links">Delete</a></li></a>
<% end %>
</ul>
