<h1 class="contact-header">There are <span><%= Contact.all.count %></span> Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <li class="contact"><a href="/contacts/<%=contact.id%>"><%= contact.first_name %> <%= contact.last_name %></a> (<%= contact.email %>)<br>
  <a href="/contacts/<%=contact.id%>/edit" class="first contact-links">Edit</a> | <a href="/delete" class="contact-links">Delete</a></li>
<% end %>
</ul>
